*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 400px;
  background-color: black;
  color: white;
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.container span {
  width: 70%;
  background: white;
  border-radius: 100vmax;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  display: flex;
  flex: 1;
  border-radius: inherit;
}

.btn-group>button {
  width: 100%;
  border-radius: inherit;
  font-size: 30px;
  font-weight: bold;
}