*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --spacing: 5px;
  --successClr: seagreen;
  --themeclr: white;

}

main {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.addTaskWrapper input {
  border: 2px solid rgb(0 0 0 /20%);
  margin-right: var(--spacing);
}

.addTaskWrapper button,
.taskgroup button {
  border: 1px solid transparent;
  padding: 10px 0;
  --width: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.addTaskWrapper button {
  min-width: var(--width);
  max-width: var(--width);
}

.addTaskWrapper button {
  background: purple;
  border-color: purple;
}

.taskgroup .deletebtn {
  background: darkred;
  border-color: darkred;
}

.taskgroup .donebtn {
  background: var(--successClr);
  border-color: var(--successClr);
  margin-left: var(--spacing);
}

.addTaskWrapper {
  display: flex;
  margin-bottom: var(--spacing);
}

.taskgroup {
  display: flex;
  flex-direction: column;
}

.addTaskWrapper input,
.taskgroup>span {
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: black;
  padding: 13px 10px;
}

.taskgroup>span {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  margin-bottom: var(--spacing);
  color: var(--themeclr);
  background: #6190e86b;
}

.taskgroup.completed>span {
  background-color: var(--successClr);
  text-decoration: line-through;
  color: white;
  border-color: var(--successClr);
  transition: all 0.35s;
}

.taskgroup+.taskgroup {
  margin-top: calc(3*var(--spacing));
}

.taskgroup.completed>.donebtn {
  display: none;
}

.taskgroup_btn-grp {
  display: flex;
  justify-content: space-between;
}

.taskgroup_btn-grp>button {
  flex: 1 !important;
  transition: all 0.35s;
}

div#root {
  background: #6190E8;
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
  background: linear-gradient(to right, #A7BFE8, #6190E8);
}

.taskgroup.completed .donebtn {
  display: none !important;
}

.Tasks:empty::before {
  content: "No tasks 😃";
  font-size: 3rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}