@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    letter-spacing: 0.8px;
    font-weight: bold;
}

:root {
    --clrPrimary: rgb(87 85 254 / 96%);
    --clrSecondary: black;
    --clrTernory: white;
    --bodyClr: rgb(87 85 254 / 8%);
}

html body .Wrapper {
    width: 100%;
    max-width: 500px;
    margin: 30px auto 0;
}

html body {
    min-height: 100vh;
    display: flex;
    width: 100%;
    background: var(--bodyClr);
    justify-content: center;
    align-items: flex-start;
    transition: background 0.3s ease-out;
}

html body.dark {
    --bodyClr: black;
    --clrPrimary: black;
    --clrSecondary: white;
}


html body .Form {
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 0px 9px -5px rgba(0 0 0 / 90%);
    border-radius: 11px;
    padding: 10px;
}

html body .FormInput {
    flex: 1;
    border: 2px solid var(--clrPrimary);
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 6px 8px 6px;
    font-size: 12px;
    color: black;
    border-right: 0;
    line-height: 2;
    vertical-align: middle;
}

html body .FormInput::placeholder {
    color: rgb(0 0 0 / 40%);
}

html body .Submit {
    border-radius: 0 5px 5px 0;
}

html body .Button {
    background: var(--clrPrimary);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 6px 10px 6px;
    font-size: 12px;
    transition: all 0.3s ease-out;
}

html body .todosItems {
    list-style: none;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

html body .todosItems:empty {
    display: none;
}

/* For WebKit browsers */
html body .todosItems::-webkit-scrollbar {
    display: none;
}

html body .todoItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-transform: capitalize;
    color: black;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: pointer;
    background: white;
    border-radius: 11px;
    padding: 10px;
}

html body .todoItem.todoCompleted p {
    text-decoration-color: var(--clrPrimary) !important;
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}

html body .todoItem .todoRadio {
    min-width: 19px;
    min-height: 19px;
    border: 2px solid var(--clrPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 100vmax;
}

html body .todoItem.todoCompleted .todoRadio::before {
    content: '';
    width: 70%;
    height: 70%;
    background: var(--clrPrimary);
    display: block;
    border-radius: 100vmax;
}

html body .todoItem * {
    font-size: 12px;
}

html body .todoItem p {
    flex: 1;
}

html body .todoItemActions {
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;
}

html body .todoItemActions button {
    border-radius: 5px;
}

html body .todoCtaTextWrpr {
    display: flex;
    grid-gap: 10px;
    flex: 1;
}

html body #root {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

html body .headerLogo {
    width: 50px;
    height: 50px;
    display: block;
}

html body .headerItems {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

html body .headerItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

html body .headerTextArea {
    font-size: 15px;
    color: var(--clrSecondary);
}

html body #headerUserName {
    position: relative;
    margin-left: 6px;
    cursor: pointer;
    background: transparent;
    outline: none;
    padding: 0;
    border: 0;
    text-transform: capitalize;
    color: var(--clrSecondary);
}

html body #headerUserName::after {
    content: '';
    position: absolute;
    background: rgb(87 85 254 / 96%);
    height: 2px;
    left: 0;
    width: 100%;
    bottom: 0;
}

html body .headerLogoWrapper {
    cursor: pointer;
}

html body .UserNameFromWrapper {
    position: fixed;
    top: 21px;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    max-width: 300px;
    z-index: 2;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 9px -5px rgba(0 0 0 / 90%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

html body .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0 0 0 /50%);
    bottom: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
}

html body #UsernameForm {
    box-shadow: none;
    padding: 0;
}

.toggle {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 100vmax;
    cursor: pointer;
    background: rgb(87 85 254 / 96%);
}

.toggle.active {
    background: white;
}


.toggle-inner {
    position: absolute;
    top: 50%;
    left: 11%;
    height: 63%;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(-50%);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active .toggle-inner {
    background-color: black;
    transform: translateY(-50%) translateX(30px);
}