@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    letter-spacing: 0.8px;
    font-weight: bold;
}

html body #root {
    background: white;
    box-shadow: 0px 0px 9px -5px rgba(0 0 0 /90%);
    border-radius: 11px;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 400px;
}

html body {
    min-height: 100vh;
    display: flex;
    width: 100%;
    background: #FFF7FC;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    transition: background 0.3s ease-out;
}


html body .todoForm {
    display: flex;
    justify-content: space-between;
}

html body .todoInput {
    flex: 1;
    border: 2px solid #5755FE;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 6px 8px 6px;
    font-size: 12px;
    color: black;
    border-right: 0;
    line-height: 2;
    vertical-align: middle;
}

html body .todoInput::placeholder {
    color: rgb(0 0 0 / 40%);
}

html body .todoSubmit {
    border-radius: 0 5px 5px 0;
}

html body .todoButton {
    background: rgb(87 85 254 / 96%);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 6px 10px 6px;
    font-size: 12px;
    transition: all 0.3s ease-out;
}

html body .todosItems {
    list-style: none;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 81vh;
    overflow-y: auto;
    scrollbar-width: none;
}

html body .todosItems:empty {
    display: none;
}

/* For WebKit browsers */
html body .todosItems::-webkit-scrollbar {
    display: none;
}

html body .todoItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-transform: capitalize;
    color: black;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: pointer;
}

html body .todoItem.todoCompleted p {
    text-decoration-color: rgb(87 85 254 / 96%) !important;
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}

html body .todoItem .todoRadio {
    min-width: 19px;
    min-height: 19px;
    border: 2px solid rgb(87 85 254 / 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 100vmax;
}

html body .todoItem.todoCompleted .todoRadio::before {
    content: '';
    width: 70%;
    height: 70%;
    background: rgb(87 85 254 / 96%);
    display: block;
    border-radius: 100vmax;
}

html body .todoItem * {
    font-size: 12px;
}

html body .todoItem p {
    flex: 1;
}

html body .todoItemActions {
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;
}

html body .todoItemActions button {
    border-radius: 5px;
}

html body .todoCtaTextWrpr {
    display: flex;
    grid-gap: 10px;
    flex: 1;
}